@CHARSET "ISO-8859-1";
.banner {
	text-align: center;
}

.banner h1 {
	font-size: 38px;
    margin-bottom: 15px;
    color: #555555;
    font-family: 'Open Sans',arial;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}
.banner h2 {
    color: #555555;
    font-family: 'Open Sans',arial;
    font-size: 18px;
    font-weight: 400;
   /* margin-bottom: 20px; */
}

table.datatable td,th {
	border: 1px solid #428BCA;
}

table.searchbox td {
	padding: 1px 2px 1px 2px;
}

.datatable th {
	background-color: #428BCA;
	color: white;
}

.datatable td {
	text-align: right;
}

.datatable tr:nth-child(even) { /*(even) or (2n 0)*/
	background: #A4D1FF;
}

.datatable tr:nth-child(odd) { /*(odd) or (2n 1)*/
	background: #EAF4FF;
}

button.btn-att-dis {
	margin-right: 10px; 
	margin-top: 2px; 
	margin-bottom: 2px;
}

span.lbl-att-dis {
	margin-right: 10px;	
}

.datatable {
	margin-top: 2em;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #b0e0e6;
}

th.datatable-col {
	text-align: right;
}

th.datatable-col span {
	margin-right: 10px; margin-left: 20px;
}

td.datatable-value span {
	margin-right: 10px;
}

.contenitore {
	position:relative;
	padding:0.4em;
}
	

.header {
	/* margin-top: 2em; */
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.dataform {
	margin-top: 1em;
	margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* GRAPH css */

.axis path{
	fill:none;
	stroke: black;
}

.axis {
	font-size:8pt;
	font-family:sans-serif;
}

.tick {
	fill:none;
	stroke:black;
}

circle{
	stroke:black;
	stroke-width:0.5px;
	fill:RoyalBlue;
	opacity:0.6;
}

path.stock_series{
	stroke:DeepPink;
}

/* FINE GRAPH css */

div.content_graph {
	margin-top: 1em;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
	
}